<!-- Users -->

<!-- 投稿・更新時にサクセスメッセージ表示 -->
  <% if flash[:notice] %>
    <div class = "flash">
    <%= flash[:notice] %>
    </div>

    <% else %>
     <div class = "flash">
    <%= flash[:alert] %>
    </div>
  <% end %>

<!-- プロフィール表示部分 -->
<div class="profile">
  <h2>User info</h2>

  <!-- プロフィール画像 -->
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-imge", fallback: "no_image.jpg" %>

  <!-- 名前 -->
  <br>
  name <%= @user.name %>
  <!-- 紹介文 -->
  <br>
  introduction  <%= @user.introduction %>

  <!-- 編集画面にアクセス -->
  <br>
  <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
</div>





<!-- 新規投稿部分 -->
<h2>New book</h2>
<!-- form_for部分 -->
<%= form_for(@book, url: '/books', method: :post) do |f| %>

  <!-- タイトル記入 -->
  <h5>Title</h5>
  <%= f.text_field :title %>

  <!-- 本文記入 -->
  <h5>Opinion</h5>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %>
<% end %>



<!-- 一覧表示部分 -->
<h2>Users</h2>
<table>

  <!-- 表のカラム -->
  <thead>
    <tr>
      <th> image </th>
      <th></th>
      <th> name </th>
    </tr>
  </thead>

  <!-- ユーザー情報 一覧 -->
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <!-- プロフィール画像 -->
      <td> <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', size: '60x60', class:"img-circle pull-left profile-image",fallback: "no_image.jpg" %> </td>
      <th></th>
      <!-- ユーザー名 -->
      <td> <%= user.name %> </td>
      <!-- ユーザー毎の詳細ボタン -->
      <td> <%= link_to "Show",user_path(user.id) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>