<!-- Home -->

<!-- ログイン中にユーザーのbookの情報を取得する方法 -->

<!-- プロフィール表示部分 -->
<div class="profile">
  <h2>User info</h2>

  <!-- プロフィール画像 -->
  <%= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

  <!-- 名前 -->
  <br>
  name <%= @user.name %>
  <!-- 紹介文 -->
  <br>
  introduction  <%= @user.introduction %>

  <!-- 編集画面にアクセス -->
  <br>
  <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
</div>


<!-- 新規投稿部分 -->
<h2>New book</h2>
<!-- form_for部分 -->
<%= form_for(@book, url: '/books', method: :post) do |f| %>

  <!-- 投稿・更新時にサクセスメッセージ表示 -->
  <% if flash[:notice] %>
    <div class = "flash">
    <%= flash[:notice] %>
    </div>
  <% end %>

  <!-- エラーメッセージ -->
  <% if flash[:alert] %>
   <div class = "flash">
    <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- タイトル記入 -->
  <h5>Title</h5>
  <%= f.text_field :title %>

  <!-- 本文記入 -->
  <h5>Opinion</h5>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %>
<% end %>


<!-- 一覧表示部分 -->
<h2>Books</h2>
<table>

  <!-- 見出し表示 -->
  <thead>
    <tr>
      <th> Title </th>
      <th></th>
      <th> Opinion </th>
    </tr>
  </thead>

  <!-- 本文表示 -->
  <tbody>
    <tr>
      <td> <%= @book.title %> </td>
      <td></td>
      <td> <%= @book.body  %> </td>
      <td></td>
    </tr>
  </tbody>
</table>