<!-- Home -->

<!-- プロフィール表示部分 -->
<div class="profile">
  <h2>User info</h2>

  <!-- プロフィール画像 -->
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-imge", fallback: "no_image.jpg" %>

  <!-- 名前 -->
  <br>
  name <%= @user.name %>
  <!-- 紹介文 -->
  <br>
  introduction  <%= @user.introduction %>

  <!-- 編集画面にアクセス -->
  <br>
  <% if @user.id == current_user.id %>
  <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
  <% else %>
  <%= link_to "Home", user_path(current_user.id) %>
  <% end %>
</div>


<!-- 新規投稿部分 -->
<h2>New book</h2>

   <!-- 投稿・更新時にサクセスメッセージ表示 -->
  <% if flash[:notice] %>
    <div class = "flash">
    <%= flash[:notice] %>
    </div>
  <% end %>

  <!-- エラーメッセージ -->
  <% if flash[:alesrt] %>
   <div class = "flash">
    <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_for(@book, url: '/books', method: :post) do |f| %>
    <!-- タイトル記入 -->
    <h5>Title</h5>
    <%= f.text_field :title %>
    <!-- 本文記入 -->
    <h5>Opinion</h5>
    <%= f.text_area :body %>
    <!-- ボタン -->
    <br><%= f.submit 'Create Book' %>
  <% end %>




<!-- 一覧表示部分 -->
<h2>Books</h2>
<table>

  <!-- 見出し表示 -->
  <thead>
    <tr>
      <th>       </th>
      <th> Title </th>
      <th></th>
      <th> Opinion </th>
    </tr>
  </thead>

<!-- 本文表示(ユーザー) -->
  <tbody>
    <% @b.each do |b| %>

    <tr>
      <td>
      <!-- プロフィール画像 -->
      <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-circle pull-left profile-imge", fallback: "no_image.jpg" %>
      </td>
      <!-- 本のタイトル -->
      <td> <%= b.title %> </td>
      <td></td>
      <!-- 本の内容 -->
      <td> <%= b.body  %> </td>
      <td></td>
    </tr>

    <% end %>
  </tbody>
</table>
