<!-- Books -->
<div class="container">
<div class="row">
  <div class="col-xs-3">

  <!-- 投稿・更新時にサクセスメッセージ表示 -->
  <% if flash[:notice] %>
    <div class = "flash">
      <%= flash[:notice] %>
    </div>
    <% else %>
     <div class = "flash">
    <%= flash[:alert] %>
    </div>
  <% end %>

<!-- プロフィール表示部分 -->
    <div class="profile">
    <h2>User info</h2>

      <!-- プロフィール画像 -->
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', size: '60x60', class: "img-circle pull-left profile-imge", fallback: "no_image.jpg" %>

        <table class="table table-striped">
          <!-- 名前 -->
          <td> name <%= @user.name %> </td>
        </table>
        <table class="table table-striped">
          <!-- 紹介文 -->
          <td> introduction <%= @user.introduction %> </td>
        </table>

  <!-- 編集画面にアクセス -->
  <%= link_to user_path(current_user.id), class:"btn btn-default" do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end %>
</div>

    <!-- 新規投稿部分 -->
    <h2>New book</h2>
    <!-- form_for部分 -->
    <%= form_for(@book, url: '/books', method: :post) do |f| %>
      <!-- タイトル記入 -->
      <h5>Title</h5>
        <%= f.text_field :title %>
      <!-- 本文記入 -->
      <h5>Opinion</h5>
      <%= f.text_area :body %>
      <br><%= f.submit 'Create Book' %>
    <% end %>

  </div>
  <div class="col-xs-9">


    <!-- 一覧表示部分 -->
      <h2>Books</h2>
      <table class="table table-striped">
        <!-- 見出し表示 -->
            <tr>
            <th></th>
            <th> Title </th>
            <th> Opinion </th>
            </tr>

  <!-- 本文表示(全ユーザー) -->
      <% @books.each do |k| %>
      <tr>
        <td>
        <!-- プロフィール画像 -->
        <!-- アプリケーション2の6章参照 -->

          <%= link_to user_path(k.user) do %>
            <%= attachment_image_tag k.user, :profile_image, :fill, 60, 60, format: 'jpeg', size: '60x60', class: "img-circle pull-left profile-imge", fallback: "no_image.jpg" %>
          <% end %>

        </td>
        <!-- 本のタイトル -->
        <td>
          <%= link_to book_path(k.id) do%>
            <%= k.title %>
          <% end %>
        </td>
        <!-- 本の内容 -->
        <td> <%= k.body  %> </td>

        </tr>
      </tr>
    <% end %>

 </div>
</div>
</div>