<!-- Books -->

<!-- プロフィール表示部分 -->
<div class="profile">
  <h2>User info</h2>

  <!-- プロフィール画像 -->
  <%= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

  <!-- 名前 -->
  <br>
  name <%= @user.name %>
  <!-- 紹介文 -->
  <br>
  introduction  <%= @user.introduction %>

  <!-- 編集画面にアクセス -->
  <br>
  <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
</div>









<!-- 一覧表示部分 -->
<h2>Books</h2>
<table>

  <!-- 見出し表示 -->
  <thead>
    <tr>
      <th> Title </th>
      <th></th>
      <th> Opinion </th>
    </tr>
  </thead>

  <!-- 本文表示 -->
  <tbody>
    <% @books.each do |book| %>

    <tr>
      <td>
        <% @users.each do |user| %>

     <!-- プロフィール画像 -->
      <%= attachment_image_tag user, :profile_image_id, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
        <% end %>
      </td>
      <td> <%= book.title %> </td>
      <td></td>
      <td> <%= book.body  %> </td>
      <td></td>
    </tr>

    <% end %>
  </tbody>
</table>
