<!-- ヘッダー -->
<!DOCTYPE html>
<html>

  <head>
    <title>Bookers002</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <div class="continer">

        <% if user_signed_in? %>
          <nav class="navbar navbar-dark bg-info">
            <div class="container-fluid">
              <div class="navbar-header">

                <h4> Bookers </h4>

                 <div class="navbar-right">
                <!-- 自分の投稿 -->
                <span class="glyphicon glyphicon-home" aria-hidden="true">
                  <%= link_to "Home", user_path(current_user.id) %>
                </span>

                <!-- みんなの情報 -->
                <span class="glyphicon glyphicon-user" aria-hidden="true">
                  <%= link_to 'Users', users_path %>
                </span>

                <!-- みんなの本 -->
                <span class="glyphicon glyphicon-book" aria-hidden="true">
                  <%= link_to 'Books', books_path %>
                </span>

                <!-- ログアウト -->
                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                  <%= link_to "logout", destroy_user_session_path, method: :delete %>
                </span>
              </div>

              </div>
            </div>
          </nav>

        <% else %>
          <nav class="navbar navbar-dark bg-info">
            <div class="container-fluid">
              <div class="navbar-header">

                <h4> Bookers </h4>
                <div class="navbar-right">
                  <!-- TOP画面 -->
                  <span class="glyphicon glyphicon-home" aria-hidden="true">
                    <%= link_to 'Home', root_path %>
                  </span>

                  <!-- About -->
                  <span class="glyphicon glyphicon-link" aria-hidden="true">
                    <%= link_to 'About', home_about_path %>
                  </span>

                  <!-- 新規登録 -->
                  <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    <%= link_to "sign up", new_user_registration_path %>
                  </span>

                  <!-- ログイン -->
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true">
                    <%= link_to "login", new_user_session_path %>
                  </span>
                </div>

              </div>
            </div>
          </nav>
        <% end %>

      <%= yield %>  <!-- 画面の呼び出し -->
      </div>
    </body>
</html>
